# Compiler files
cache/
out/

# Coverage
lcov.info

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.deploy

# Foundry deployment files
broadcast
*.env.*

# Deployment script output
output/

# Claude output
.claude

# OS / editor cruft
.DS_Store
**/.DS_Store
.vscode/
